
.img{

    width: 400px;
    position:fixed;
    height: 500px;
    margin: 0 auto;
    left: 55em;
    top: 30em;
}
.img2{
    position:fixed;
    margin: 0 auto;
    left: 55em;
    top: 30em;
}
.img3{
    position:fixed;
    margin: 0 auto;
    left: 55em;
    top: 10em;
    width: 450px;
    height: 800px;
}

input[type=text]{
    position: relative;
    left: 74em;
}
input[type=submit]{
    position: relative;
    left: 78em;
}

h1{
    color: aquamarine;
    text-align: center;
}
h2{
    color: forestgreen;
}

.water{
    text-align: center;
    color: blue;
}

.cola{
    text-align: center;
    color: #000;
}

.bier{
    text-align: center;
    color: yellow;
}

.default{
    text-align: center;
}

html{
    background: url("background.jpg");
    background-size: 100%;
    background-color: rgba(255,255,255,0.5);
}

